In [1]:
import numpy as np
import pandas as pd

##  一、 2002 年-2018 年上海机动车拍照拍卖
#### 问题

(1) 哪一次拍卖的中标率首次小于 5%？ (2) 按年统计拍卖最低价的下列统计量：最大值、均值、 0.75 分位数，要求 显示在同一张表上。 (3) 将第一列时间列拆分成两个列，一列为年份（格式为 20××），另一列为 月份（英语缩写），添加到列表作为第一第二列，并将原表第一列删除， 其他列依次向后顺延。 (4) 现在将表格行索引设为多级索引，外层为年份，内层为原表格第二至第 五列的变量名，列索引为月份。 (5) 一般而言某个月最低价与上月最低价的差额，会与该月均值与上月均值 的差额具有相同的正负号，哪些拍卖时间不具有这个特点？ (6) 将某一个月牌照发行量与其前两个月发行量均值的差额定义为发行增 益，最初的两个月用 0 填充，求发行增益极值出现的时间。

In [3]:
df1 = pd.read_csv('/Users\gan\Desktop/2002年-2018年上海机动车拍照拍卖.csv')
df1.head()

,Date,Total number of license issued,lowest price,avg price,Total number of applicants
0,2-Jan,1400,13600,14735,3718
1,2-Feb,1800,13100,14057,4590
2,2-Mar,2000,14300,14662,5190
3,2-Apr,2300,16000,16334,4806
4,2-May,2350,17800,18357,4665

In [4]:
df1['Winning rate'] = df1['Total number of license issued'] / df1['Total number of applicants']
# df1.head()
df1[df1['Winning rate']<0.05]['Date'].values[0]

'15-May'

(3) 将第一列时间列拆分成两个列，一列为年份（格式为 20××），另一列为
月份（英语缩写），添加到列表作为第一第二列，并将原表第一列删除，其他列依次向后顺延。

In [5]:
year=[]
month=[]
for d in list(df1['Date']):
    year.append(d.split('-')[0])
    month.append(d.split('-')[1])
#     print(d.split('-')[0])
df1['Year'] = pd.Series(year)
df1['Year'] =df1['Year'].apply(lambda x: 2000+int(x))
df1['Month'] = pd.Series(month)

# 3
L_columns = ['Year','Month','Date','Total number of license issued','lowest price ','avg price','Total number of applicants','Winning rate']
df1_date = df1.reindex(columns=L_columns).copy()
# df1_date = df1_date.drop(['Date'],axis=1)
# df1.drop(columns='Date', inplace=True) #别原地删除了
del df1_date['Date']

df1_date.head()

,Year,Month,Total number of license issued,lowest price,avg price,Total number of applicants,Winning rate
0,2002,Jan,1400,13600,14735,3718,0.376547
1,2002,Feb,1800,13100,14057,4590,0.392157
2,2002,Mar,2000,14300,14662,5190,0.385356
3,2002,Apr,2300,16000,16334,4806,0.478568
4,2002,May,2350,17800,18357,4665,0.503751

In [6]:
df1.describe()

,Total number of license issued,lowest price,avg price,Total number of applicants,Winning rate,Year
count,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000
mean,7608.719212,53197.044335,54184.610837,66267.738916,0.367977,2010.009852
std,2595.841628,24505.685158,23701.593769,84989.178134,0.248457,4.921151
min,1400.000000,8100.000000,14057.000000,3525.000000,0.037583,2002.000000
25%,5916.500000,34000.000000,34917.000000,10423.500000,0.069016,2006.000000
50%,7763.000000,44900.000000,45492.000000,19233.000000,0.392157,2010.000000
75%,9000.000000,77050.000000,77220.500000,112177.500000,0.533275,2014.000000
max,16000.000000,93500.000000,93540.000000,277889.000000,1.021277,2018.000000

In [7]:
df1_date_2 = df1_date[['Year','lowest price ']]
df1_date_2.groupby('Year').describe()

     lowest price                                                          \
             count          mean           std      min      25%      50%
Year
2002          12.0  20316.666667   5825.466557  13100.0  15575.0  19700.0
2003          12.0  31983.333333   5926.033985  18800.0  28800.0  33600.0
2004          12.0  29408.333333  10235.007513  10800.0  24275.0  28650.0
2005          12.0  31908.333333   4766.828245  25000.0  28000.0  33000.0
2006          12.0  37058.333333   3607.935278  26900.0  36825.0  37750.0
2007          12.0  45691.666667   4694.766590  38500.0  42750.0  45850.0
2008          11.0  29945.454545   8329.869583   8100.0  30150.0  32600.0
2009          12.0  31333.333333   3585.408138  26600.0  28450.0  31050.0
2010          12.0  38008.333333   8947.062325  10400.0  38375.0  39700.0
2011          12.0  47958.333333   4245.095209  38300.0  46075.0  47950.0
2012          12.0  61108.333333   5091.786315  52800.0  57225.0  61550.0
2013          12.0  79125.000000   5149.426270  73400.0  75375.0  76950.0
2014          12.0  73816.666667    392.737093  73200.0  73575.0  73800.0
2015          12.0  80575.000000   3873.951471  74000.0  78375.0  81350.0
2016          12.0  85733.333333   2216.604009  82200.0  84100.0  85800.0
2017          12.0  90616.666667   2099.278375  87600.0  89100.0  90700.0
2018          12.0  87825.000000    570.685393  86900.0  87375.0  87850.0


          75%      max
Year
2002  24300.0  30800.0
2003  36300.0  38500.0
2004  38400.0  44200.0
2005  35600.0  37900.0
2006  39525.0  39900.0
2007  48950.0  53800.0
2008  34150.0  37300.0
2009  34150.0  36900.0
2010  41825.0  44900.0
2011  51000.0  53800.0
2012  65325.0  68900.0
2013  82550.0  90800.0
2014  74000.0  74600.0
2015  83450.0  85300.0
2016  87475.0  88600.0
2017  92350.0  93500.0
2018  88150.0  89000.0

In [8]:
L1 = ['Year']
L2 = ['Total number of license issued', 'lowest price ', 'avg price', 'Total number of applicants']
mul_index = pd.MultiIndex.from_product([L1,L2],names=('Upper', 'Lower'))
pd.pivot_table(df1_date, index=['Year'],columns=['Month'])

      Total number of applicants                                          \
Month                        Apr       Aug       Dec       Feb       Jan
Year
2002                      4806.0    4640.0    3525.0    4590.0    3718.0
2003                      8794.0    9315.0   10491.0   12030.0    9442.0
2004                      8150.0   15506.0    9005.0   10156.0    8663.0
2005                      8113.0    7520.0    8351.0    8949.0    6208.0
2006                      7888.0    9190.0    9477.0   12367.0    5907.0
2007                     10523.0   12943.0   10356.0    5056.0    6587.0
2008                     37072.0   13451.0   16801.0       NaN   20539.0
2009                     17654.0   18750.0   18577.0   16848.0   16544.0
2010                     17313.0   16855.0   11224.0   18810.0   18975.0
2011                     22326.0   21544.0   26531.0   25104.0   30675.0
2012                     22706.0   21425.0   18244.0   23391.0   24354.0
2013                     26174.0   22650.0   39625.0   24651.0   20857.0
2014                     94241.0  121550.0   96972.0   45758.0   41946.0
2015                    152298.0  166939.0  179133.0  103224.0   98203.0
2016                    256897.0  251188.0  219882.0  196470.0  187533.0
2017                    252273.0  256083.0  228148.0  251717.0  232101.0
2018                    204980.0  192755.0  165442.0  220831.0  226316.0

                                                         ... lowest price   \
Month       Jul       Jun       Mar       May       Nov  ...           Dec
Year                                                     ...
2002     3774.0    4502.0    5190.0    4665.0    4021.0  ...       27800.0
2003    11929.0   15507.0   11219.0   14634.0    9849.0  ...       37100.0
2004    14464.0   19233.0    9950.0    8114.0    9188.0  ...       29300.0
2005     8777.0    8409.0    9117.0    9673.0   13633.0  ...       35200.0
2006     8966.0    8478.0    8904.0    8301.0  110234.0  ...       39800.0
2007    10327.0   11478.0   10168.0   10273.0   10596.0  ...       50000.0
2008    16783.0   21208.0   63534.0   26341.0   10170.0  ...       31000.0
2009    17220.0   17433.0   18575.0   16471.0   21902.0  ...       36900.0
2010    13389.0   16252.0   17704.0   16324.0   13429.0  ...       10400.0
2011    21852.0   22474.0   25014.0   25708.0   20050.0  ...       51000.0
2012    26526.0   24774.0   24897.0   24230.0   19120.0  ...       68900.0
2013    21811.0   21482.0   23589.0   22224.0   38220.0  ...       76000.0
2014   136098.0  135677.0   61853.0  114121.0   95595.0  ...       73600.0
2015   166302.0  172205.0  132690.0  156007.0  169159.0  ...       84500.0
2016   240750.0  275438.0  221109.0  277889.0  215424.0  ...       88300.0
2017   269189.0  244349.0  262010.0  270197.0  226911.0  ...       92800.0
2018   202337.0  209672.0  217056.0  198627.0  177355.0  ...       87400.0

                                                                               \
Month      Feb      Jan      Jul      Jun      Mar      May      Nov      Oct
Year
2002   13100.0  13600.0  19800.0  19600.0  14300.0  17800.0  30800.0  26400.0
2003   23800.0  18800.0  36900.0  36100.0  28800.0  35000.0  33100.0  32800.0
2004   39600.0  38000.0  21800.0  17800.0  43000.0  10800.0  26000.0  28000.0
2005   31700.0  28500.0  37900.0  37000.0  34300.0  35000.0  29800.0  25200.0
2006   34200.0  26900.0  39600.0  39500.0  38500.0  37700.0  37800.0  36300.0
2007   39100.0  38500.0  45200.0  47200.0  41100.0  44500.0  53800.0  50500.0
2008       NaN   8100.0  33800.0  33900.0  31300.0  34400.0  21800.0  32600.0
2009   33000.0  28600.0  32100.0  30000.0  26600.0  28500.0  34900.0  33900.0
2010   38300.0  37800.0  38400.0  39200.0  39600.0  41900.0  44900.0  43000.0
2011   44200.0  38300.0  50900.0  48500.0  46200.0  47400.0  45700.0  53800.0
2012   55400.0  52800.0  57700.0  55800.0  58300.0  64000.0  66400.0  65200.0
2013   83300.0  75000.0  76300.0  77600.0  90800.0  80700.0  75500.0  82300.0
2014   73200.0  73500.0  74600.0  73800.0  73800.0  74400.0  73500.0  74000.0
2015   76500.0  74000.0  83100.0  80000.0  74600.0  79000.0  84600.0  85300.0
2016   83200.0  82200.0  87200.0  84400.0  83100.0  85000.0  88600.0  88300.0
2017   88200.0  87600.0  92200.0  89400.0  87800.0  90100.0  93100.0  93500.0
2018   87600.0  87900.0  88300.0  87800.0  88100.0  89000.0  87300.0  88000.0


Month      Sep
Year
2002   23600.0
2003   28800.0
2004   29300.0
2005   26500.0
2006   37000.0
2007   48600.0
2008   29300.0
2009   27200.0
2010   41800.0
2011   52200.0
2012   65700.0
2013   73400.0
2014   73800.0
2015   82100.0
2016   86500.0
2017   91300.0
2018   87300.0

[17 rows x 60 columns]

## 二、 2007 年-2019 年俄罗斯机场货运航班运载量

#### 问题 (1) 求每年货运航班总运量。 (2) 每年记录的机场都是相同的吗？ (3) 按年计算 2010 年-2015 年全年货运量记录为 0 的机场航班比例。 (4) 若某机场至少存在 5 年或以上满足所有月运量记录都为 0，则将其所有 年份的记录信息从表中删除，并返回处理后的表格 (5) 采用一种合理的方式将所有机场划分为东南西北四个分区，并给出 2017 年-2019 年货运总量最大的区域。 (6) 在统计学中常常用秩代表排名，现在规定某个机场某年某个月的秩为该 机场该月在当年所有月份中货运量的排名（例如 *** 机场 19 年 1 月运 量在整个 19 年 12 个月中排名第一，则秩为 1），那么判断某月运量情 况的相对大小的秩方法为将所有机场在该月的秩排名相加，并将这个量 定义为每一个月的秩综合指数，请根据上述定义计算 2016 年 12 个月 的秩综合指数。

In [11]:
df2 = pd.read_csv('/Users\gan\Desktop/2007年-2019年俄罗斯货运航班运载量.csv')
df2.head()

,Airport name,Year,January,February,March,April,May,June,July,August,September,October,November,December,Whole year,Airport coordinates
0,Abakan,2019,44.70,66.21,72.7,75.82,100.34,78.38,63.88,73.06,66.74,75.44,110.5,89.8,917.57,"(Decimal('91.399735'), Decimal('53.751351'))"
1,Aikhal,2019,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,"(Decimal('111.543324'), Decimal('65.957161'))"
2,Loss,2019,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,"(Decimal('125.398355'), Decimal('58.602489'))"
3,Amderma,2019,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,"(Decimal('61.577429'), Decimal('69.759076'))"
4,Anadyr (Carbon),2019,81.63,143.01,260.9,304.36,122.00,106.87,84.99,130.00,102.00,118.00,94.0,199.0,1746.76,"(Decimal('177.738273'), Decimal('64.713433'))"

#### (1) 求每年货运航班总运量。

In [12]:
df2.groupby('Year')['Whole year'].sum()

Year
2007    659438.23
2008    664682.46
2009    560809.77
2010    693033.98
2011    818691.71
2012    846388.03
2013    792337.08
2014    729457.12
2015    630208.97
2016    679370.15
2017    773662.28
2018    767095.28
2019    764606.27
Name: Whole year, dtype: float64

####  (2) 每年记录的机场都是相同的吗？

In [13]:
df2.groupby('Year')['Airport name'].count()

Year
2007    292
2008    292
2009    292
2010    292
2011    292
2012    292
2013    292
2014    292
2015    292
2016    292
2017    292
2018    248
2019    251
Name: Airport name, dtype: int64

#### (3) 按年计算 2010 年-2015 年全年货运量记录为 0 的机场航班比例。

In [14]:
df2_3 = df2.set_index(['Year']).sort_index()
df2_3.loc[2010:2015]['Whole year'].groupby('Year').agg(lambda x:print( 
    '年份：', x.index[0], '\t 比例：%.2f' % (len(x[x==0]) / len(x) * 100), '%' ) )

年份： 2010 	 比例：76.71 %
年份： 2011 	 比例：77.05 %
年份： 2012 	 比例：77.05 %
年份： 2013 	 比例：77.05 %
年份： 2014 	 比例：77.05 %
年份： 2015 	 比例：77.05 %

Year
2010   NaN
2011   NaN
2012   NaN
2013   NaN
2014   NaN
2015   NaN
Name: Whole year, dtype: float64

#### (4) 若某机场至少存在 5 年或以上满足所有月运量记录都为 0，则将其所有年份的记录信息从表中删除，并返回处理后的表格

In [15]:
df2_4_group = df2.set_index('Airport name').groupby('Airport name')
temp0 = df2_4_group['Whole year'].apply( lambda x: len(x[x==0])>5) #数据列格式
temp0 = pd.DataFrame(temp0) #不转换 下面要报错
display(temp0.info()) #为True表示 要删掉的那些。他们在temp0中有序、分组排列
df2.set_index('Airport name').drop(temp0[temp0['Whole year']==True].index)

<class 'pandas.core.frame.DataFrame'>
Index: 297 entries, Abakan to Таксимо
Data columns (total 1 columns):
Whole year    297 non-null bool
dtypes: bool(1)
memory usage: 2.6+ KB

None

,Year,January,February,March,April,May,June,July,August,September,October,November,December,Whole year,Airport coordinates
Airport name,,,,,,,,,,,,,,,
Abakan,2019,44.70,66.21,72.70,75.82,100.34,78.38,63.88,73.06,66.74,75.44,110.50,89.80,917.57,"(Decimal('91.399735'), Decimal('53.751351'))"
Anadyr (Carbon),2019,81.63,143.01,260.90,304.36,122.00,106.87,84.99,130.00,102.00,118.00,94.00,199.00,1746.76,"(Decimal('177.738273'), Decimal('64.713433'))"
Anapa (Vitjazevo),2019,45.92,53.15,54.00,54.72,52.00,67.45,172.31,72.57,70.00,63.00,69.00,82.10,856.22,"(Decimal('37.341511'), Decimal('45.003748'))"
Arkhangelsk (Talagy),2019,85.61,118.70,131.39,144.82,137.95,140.18,128.56,135.68,124.75,139.60,210.27,307.10,1804.61,"(Decimal('40.714892'), Decimal('64.596138'))"
Astrakhan (Narimanovo),2019,51.75,61.08,65.60,71.84,71.38,63.95,164.86,79.46,85.21,87.23,79.06,99.16,980.58,"(Decimal('47.999896'), Decimal('46.287344'))"
Novy Urengoy,2019,6.00,2.90,3.50,14.30,7.30,6.40,7.40,8.30,5.50,6.90,9.80,12.30,90.60,"(Decimal('66.694583'), Decimal('63.697412'))"
Blagoveshchensk (Ignatevo),2019,163.60,224.50,286.40,283.00,213.90,212.80,243.60,267.30,272.40,279.30,243.80,289.40,2980.00,"(Decimal('127.407536'), Decimal('50.42238'))"
Bugulma,2019,3.17,2.08,1.30,1.61,2.87,0.87,2.11,1.75,1.57,2.04,2.28,1.97,23.62,"(Decimal('52.790306'), Decimal('54.634026'))"
Vladivostok (Knevichi),2019,1368.77,1587.26,1737.37,1687.58,1614.51,1594.30,1801.42,1946.15,1932.64,2002.59,1962.91,2206.11,21441.61,"(Decimal('132.165103'), Decimal('43.396702'))"
Volgograd (Gumrak),2019,50.00,63.00,70.00,78.00,67.00,68.00,74.00,77.00,72.00,83.00,75.00,95.00,872.00,"(Decimal('44.356743'), Decimal('48.792276'))"
Voronezh (Chertovitskoe),2019,12.94,17.92,15.40,19.08,17.25,18.20,23.33,20.94,22.36,25.77,45.04,26.76,264.99,"(Decimal('39.225359'), Decimal('51.812576'))"
Ekaterinburg (Koltsovo),2019,993.26,1273.32,1499.75,1520.75,1445.59,1282.20,1468.23,1555.60,1455.79,1450.33,1578.03,1673.96,17196.81,"(Decimal('60.802263'), Decimal('56.750256'))"
Ivanovo (Yuzhny),2019,7.22,30.39,27.51,52.34,36.47,71.11,51.24,41.46,96.01,30.70,70.23,31.29,545.97,"(Decimal('40.94371'), Decimal('56.942303'))"
Irkutsk,2019,441.16,548.35,683.79,745.31,705.44,687.97,802.78,890.58,802.47,771.89,908.22,851.02,8838.98,"(Decimal('104.355777'), Decimal('52.273103'))"
Kazan,2019,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"(Decimal('49.298591'), Decimal('55.608089'))"
Kaliningrad (Hrabrovo),2019,479.36,505.72,579.70,535.25,486.92,524.89,521.52,617.83,664.76,604.28,626.02,740.46,6886.71,"(Decimal('20.58582'), Decimal('54.883038'))"
Kaluga (Grabtsevo),2019,0.70,0.57,0.71,1.71,0.97,8.30,10.91,8.13,2.70,0.00,4.18,2.21,41.09,"(Decimal('36.366974'), Decimal('54.54689'))"
Kemerovo,2019,79.14,109.01,110.00,109.69,96.21,109.81,111.65,114.85,106.18,106.57,117.67,155.12,1325.90,"(Decimal('86.118863'), Decimal('55.28199'))"
Kirov (Pobedilovo),2019,4.70,5.90,5.20,6.80,5.80,7.40,6.30,6.20,7.60,11.50,11.00,11.20,89.60,"(Decimal('49.346758'), Decimal('58.4975'))"
Kogalym,2019,2.47,3.11,4.47,3.47,3.60,6.80,5.00,4.65,3.84,3.99,3.64,5.68,50.72,"(Decimal('74.5295'), Decimal('62.195565'))"
Komsomolsk-on-Amur,2019,168.51,144.86,99.17,186.00,113.36,158.95,98.61,113.67,59.61,112.47,127.69,234.90,1617.80,"(Decimal('136.929004'), Decimal('50.403351'))"
Krasnodar (Paszkowski),2019,312.07,407.07,558.88,561.64,545.96,572.67,540.62,623.35,647.80,633.24,614.26,639.68,6657.24,"(Decimal('39.139669'), Decimal('45.033923'))"
Krasnoyarsk,2019,950.41,1151.40,1276.04,1421.23,1302.43,1207.68,1129.33,1255.64,1301.86,1447.48,1433.96,1570.68,15448.14,"(Decimal('92.486391'), Decimal('56.180578'))"
red,2019,1.02,1.90,1.78,1.87,8.42,14.60,2.06,16.44,7.76,3.82,2.14,1.82,63.63,"(Decimal('94.40495'), Decimal('51.676108'))"
Zabaykalsk,2019,15.58,16.83,18.18,43.15,52.11,47.57,45.96,39.77,38.72,51.94,48.23,28.49,446.53,"(Decimal('114.831553'), Decimal('60.722585'))"
Magadan (Falcon),2019,429.00,565.00,625.00,656.00,621.00,656.00,647.00,626.00,678.00,704.00,674.00,929.00,7810.00,"(Decimal('150.73116'), Decimal('59.914272'))"
Mineral water,2019,99.48,115.36,121.20,122.38,97.99,108.13,114.73,132.02,137.80,188.77,164.54,161.39,1563.79,"(Decimal('43.087648'), Decimal('44.217799'))"
Peaceful,2019,284.12,369.31,417.51,602.78,823.54,503.23,672.14,702.30,527.76,760.39,794.02,599.46,7056.56,"(Decimal('114.022431'), Decimal('62.531382'))"
Moscow (Vnukovo),2019,2876.41,3442.80,4205.05,4274.35,4156.71,3887.51,3880.57,3512.55,4216.92,4543.42,4580.71,5313.91,48890.91,"(Decimal('37.295014'), Decimal('55.608562'))"
Moscow (Domodedovo),2019,7272.37,7851.19,8847.62,8378.11,8079.51,8340.99,9811.07,8598.48,8612.43,9413.65,10188.46,10468.84,105862.72,"(Decimal('37.767995'), Decimal('55.437168'))"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
New Urengoy,2007,146.90,209.20,261.00,224.40,303.50,248.20,234.70,270.70,290.90,287.00,257.30,318.40,3052.20,"(Decimal('76.522422'), Decimal('66.072965'))"
Norilsk,2007,1360.72,2197.96,2134.68,2094.24,2090.56,1921.76,1677.14,1563.73,1768.00,1829.87,2331.34,287.78,21257.78,"(Decimal('87.342342'), Decimal('69.325039'))"
Noyabrsk,2007,68.30,84.10,93.30,94.00,105.30,111.30,87.30,109.50,97.70,103.40,95.40,105.40,1155.00,"(Decimal('75.274455'), Decimal('63.181841'))"
Omsk (central),2007,177.00,244.00,269.00,298.00,248.00,275.00,303.00,326.00,326.00,335.00,328.00,328.00,3457.00,"(Decimal('73.007305'), Decimal('55.085528'))"
Orenburg (central),2007,38.24,54.70,110.90,98.49,71.48,71.42,80.45,117.71,94.09,85.67,113.07,106.35,1042.57,"(Decimal('55.457063'), Decimal('51.79139'))"
Pevek,2007,30.00,120.00,165.00,231.00,142.00,107.00,171.00,24.00,74.00,34.00,134.00,209.00,1441.00,"(Decimal('170.602999'), Decimal('69.788315'))"
Perm (Bolshoye Savino),2007,89.46,130.56,154.04,156.21,181.94,141.94,183.46,218.40,223.29,191.38,299.51,256.01,2226.20,"(Decimal('56.010461'), Decimal('57.91612'))"
Petropavlovsk (Yelizovo),2007,466.12,620.92,697.45,567.46,516.04,582.57,747.13,1043.96,1239.19,1022.57,1059.75,1291.57,9854.73,"(Decimal('158.425285'), Decimal('53.169328'))"
Polar,2007,412.00,907.60,335.60,576.40,732.10,562.20,648.70,785.00,556.50,568.50,708.00,866.50,7659.10,"(Decimal('112.038215'), Decimal('66.400137'))"
Rostov-on-Don,2007,305.90,285.30,406.60,475.70,479.10,525.20,576.80,602.90,593.70,595.00,544.00,588.00,5978.20,"(Decimal('39.929081'), Decimal('47.488342'))"
Saint Petersburg (Pulkovo),2007,1236.00,2065.00,1785.00,2094.00,1888.00,1933.00,2188.00,2348.00,2311.00,2441.00,2325.00,2535.00,25149.00,"(Decimal('30.273027'), Decimal('59.79977'))"
Saratov (central),2007,31.00,32.50,41.70,46.40,36.50,32.80,35.10,45.70,44.30,47.40,44.40,58.00,495.80,"(Decimal('106.644236'), Decimal('47.454355'))"
Sochi,2007,82.00,154.00,160.00,161.00,193.00,173.00,149.00,201.00,263.00,204.00,153.00,188.00,2081.00,"(Decimal('39.941316'), Decimal('43.44837'))"
Stavropol (Shpakovskoye),2007,50.00,52.00,55.00,56.00,55.00,61.00,63.00,69.00,70.00,79.00,89.00,81.00,780.00,"(Decimal('42.105169'), Decimal('45.112737'))"
Surgut,2007,296.70,335.00,499.40,411.30,477.60,582.90,431.20,454.40,445.30,504.70,408.60,469.40,5316.50,"(Decimal('73.40807'), Decimal('61.340204'))"
Syktyvkar,2007,77.20,74.18,91.32,81.36,103.68,77.89,98.81,97.02,83.47,77.97,67.89,78.14,1008.93,"(Decimal('50.851293'), Decimal('61.663805'))"
Tiksi,2007,14.70,5.60,75.60,3.80,46.50,16.50,19.50,13.00,5.30,29.00,9.90,44.10,283.50,"(Decimal('128.888094'), Decimal('71.698596'))"
Tomsk (Bogashevo),2007,100.00,136.00,168.00,148.00,145.00,113.00,122.00,148.00,158.00,184.00,182.00,204.00,1808.00,"(Decimal('85.209517'), Decimal('56.388412'))"
Tyumen (Roschino),2007,258.30,537.80,400.90,362.80,376.50,374.40,354.40,435.50,388.00,445.50,510.80,505.00,4949.90,"(Decimal('65.348628'), Decimal('57.181514'))"
Ufa,2007,144.84,310.89,292.04,234.01,317.53,352.40,358.49,316.85,621.30,281.31,429.16,482.97,4141.79,"(Decimal('55.883529'), Decimal('54.566329'))"
Khabarovsk (MVL),2007,25.21,9.40,8.66,6.21,32.99,36.38,23.95,38.26,59.39,40.08,29.99,25.07,335.59,"(Decimal('135.171082'), Decimal('48.525706'))"
Khabarovsk (New),2007,651.69,690.30,964.87,1415.01,1345.63,1424.10,1388.98,1577.67,1610.17,2111.04,1864.45,1671.66,16715.57,"(Decimal('135.171082'), Decimal('48.525706'))"
Khanty-Mansiysk,2007,46.70,0.60,71.90,70.40,71.90,68.62,58.50,70.20,75.27,97.85,106.60,110.13,848.67,"(Decimal('69.095798'), Decimal('61.026144'))"
Khatanga,2007,115.70,191.20,169.30,291.30,126.80,141.60,167.10,166.20,232.00,175.70,182.00,487.30,2446.20,"(Decimal('102.473016'), Decimal('71.978434'))"
Chelyabinsk (Balandino),2007,122.84,139.73,182.91,223.38,203.07,174.30,201.67,220.31,216.50,288.86,281.83,249.76,2505.16,"(Decimal('61.509282'), Decimal('55.298164'))"
Reads (tub),2007,55.96,80.09,85.90,154.54,162.71,107.51,80.14,138.71,133.19,188.97,228.84,184.00,1600.56,"(Decimal('113.306492'), Decimal('52.020464'))"
Yuzhno-(Khomutovo),2007,710.80,970.00,1330.30,1352.30,1324.40,1613.00,1450.70,1815.60,1902.30,1903.20,1666.10,1632.10,17670.80,"(Decimal('142.723677'), Decimal('46.886967'))"
Yakutsk,2007,583.70,707.80,851.80,1018.00,950.80,900.00,1154.90,1137.84,1485.50,1382.50,1488.00,1916.60,13577.44,"(Decimal('129.750225'), Decimal('62.086594'))"
Yamburg,2007,3.55,0.16,3.37,5.32,4.31,6.30,6.88,3.60,4.13,4.93,4.17,8.87,55.59,"(Decimal('75.097783'), Decimal('67.980026'))"
Yaroslavl (Tunoshna),2007,847.00,1482.90,1325.40,1235.97,629.00,838.00,1211.30,915.00,1249.60,1650.50,1822.60,2055.60,15262.87,"(Decimal('40.170054'), Decimal('57.56231'))"

## 三、新冠肺炎在美国的传播

#### 问题 (1) 用 corr() 函数计算县（每行都是一个县）人口与表中最后一天记录日期 死亡数的相关系数。 (2) 截止到 4 月 1 日，统计每个州零感染县的比例。 (3) 请找出最早出确证病例的三个县。 (4) 按州统计单日死亡增加数，并给出哪个州在哪一天确诊数增加最大（这 里指的是在所有州和所有天两个指标一起算，不是分别算）。 (5) 现需对每个州编制确证与死亡表，第一列为时间，并且起始时间为该州 开始出现死亡比例的那一天，第二列和第三列分别为确证数和死亡数， 每个州需要保存为一个单独的 csv 文件，文件名为“州名.csv”。 (6) 现需对 4 月 1 日至 4 月 10 日编制新增确证数与新增死亡数表，第一列 为州名，第二列和第三列分别为新增确证数和新增死亡数，分别保存为 十个单独的 csv 文件，文件名为“日期.csv”。

In [16]:
df3_confirmed  = pd.read_csv('/Users\gan\Desktop/美国确证数.csv')
df3_death = pd.read_csv('/Users\gan\Desktop/美国死亡数.csv')

display(df3_confirmed.head())
display(df3_death.head())

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2020/4/17,2020/4/18,2020/4/19,2020/4/20,2020/4/21,2020/4/22,2020/4/23,2020/4/24,2020/4/25,2020/4/26
0,84001001,US,USA,840,1001,Autauga,Alabama,US,32.539527,-86.644082,...,26,25,26,28,30,32,33,36,36,37
1,84001003,US,USA,840,1003,Baldwin,Alabama,US,30.727750,-87.722071,...,103,109,112,117,123,132,143,147,147,161
2,84001005,US,USA,840,1005,Barbour,Alabama,US,31.868263,-85.387129,...,15,18,20,22,28,29,30,32,32,33
3,84001007,US,USA,840,1007,Bibb,Alabama,US,32.996421,-87.125115,...,24,26,28,32,32,34,33,34,34,38
4,84001009,US,USA,840,1009,Blount,Alabama,US,33.982109,-86.567906,...,20,20,21,22,26,29,31,31,31,34

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2020/4/17,2020/4/18,2020/4/19,2020/4/20,2020/4/21,2020/4/22,2020/4/23,2020/4/24,2020/4/25,2020/4/26
0,84001001,US,USA,840,1001,Autauga,Alabama,US,32.539527,-86.644082,...,2,2,2,1,1,2,2,2,2,2
1,84001003,US,USA,840,1003,Baldwin,Alabama,US,30.727750,-87.722071,...,2,2,2,3,3,3,3,3,3,3
2,84001005,US,USA,840,1005,Barbour,Alabama,US,31.868263,-85.387129,...,0,0,0,0,0,0,0,0,0,0
3,84001007,US,USA,840,1007,Bibb,Alabama,US,32.996421,-87.125115,...,0,0,0,0,0,0,0,0,0,0
4,84001009,US,USA,840,1009,Blount,Alabama,US,33.982109,-86.567906,...,0,0,0,0,0,0,0,0,0,0

#### (1) 用 corr() 函数计算县（每行都是一个县）人口与表中最后一天记录日期死亡数的相关系数。

In [18]:
df3_death[['Population', '2020/4/26']].corr().iloc[0,1]

0.4038441973480568